// Generated SCSS Variables
$base-colour-grey-400: #282828
$global-font-uidefaultfont: Inter
$base-font-size-xl: 20px
$base-font-weight-semibold: 500
$base-font-linespacing-lg: 24px
$base-colour-static-white: #ffffff
$base-colour-grey-100: #d9d9d9
$base-size-lg: 12px
$global-colour-textonlight: #282828
$base-font-weight-regular: 400
$base-colour-grey-300: #747474
$base-colour-blue-300: #0177cc

// Generated SCSS Mixins
@mixin input_resting
  display: flex
  flex-direction: column
  align-items: flex-start
  gap: 2px

@mixin input_resting_label
  color: $base-colour-grey-400
  font-family: $global-font-uidefaultfont
  font-size: $base-font-size-xl
  font-weight: $base-font-weight-semibold
  line-height: $base-font-linespacing-lg

@mixin input_resting_input-box
  display: flex
  flex-direction: row
  align-items: flex-start
  gap: $base-size-lg
  padding: 11px 12px
  background-color: $base-colour-static-white
  border-color: $base-colour-grey-100
  border-width: 1px
  border-radius: 4px

@mixin input_resting_input-box_input-text
  color: $global-colour-textonlight
  font-family: $global-font-uidefaultfont
  font-size: 16px
  font-weight: $base-font-weight-regular
  line-height: 20px

@mixin input_hover
  display: flex
  flex-direction: column
  align-items: flex-start
  gap: 2px

@mixin input_hover_label
  color: $base-colour-grey-400
  font-family: $global-font-uidefaultfont
  font-size: $base-font-size-xl
  font-weight: $base-font-weight-semibold
  line-height: $base-font-linespacing-lg

@mixin input_hover_input-box
  display: flex
  flex-direction: row
  align-items: flex-start
  gap: $base-size-lg
  padding: 11px 12px
  background-color: $base-colour-static-white
  border-color: $base-colour-grey-300
  border-width: 1px
  border-radius: 4px

@mixin input_hover_input-box_input-text
  color: $global-colour-textonlight
  font-family: $global-font-uidefaultfont
  font-size: 16px
  font-weight: $base-font-weight-regular
  line-height: 20px

@mixin input_active
  display: flex
  flex-direction: column
  align-items: flex-start
  gap: 2px

@mixin input_active_label
  color: $base-colour-blue-300
  font-family: $global-font-uidefaultfont
  font-size: $base-font-size-xl
  font-weight: $base-font-weight-semibold
  line-height: $base-font-linespacing-lg

@mixin input_active_input-box
  display: flex
  flex-direction: row
  align-items: flex-start
  gap: $base-size-lg
  padding: 11px 12px
  background-color: $base-colour-static-white
  border-color: $base-colour-blue-300
  border-width: 2px
  border-radius: 4px

@mixin input_active_input-box_input-text
  color: $global-colour-textonlight
  font-family: $global-font-uidefaultfont
  font-size: 16px
  font-weight: $base-font-weight-regular
  line-height: 20px
