@use 'source'

.container
  width: 100%
  max-width: 400px
  margin: 0 auto
  padding: 20px

.custom-input
  @include source.input_resting
  align-items: stretch

  label
    @include source.input_resting_Label
  
  input
    border-style: solid
    @include source.input_resting_Input-box
    @include source.input_resting_Input-box_Input-text
    
    &:focus-visible
      outline: none
    
  &:hover
    label 
      @include source.input_hover_Label
    
    input 
      @include source.input_hover_Input-box
      @include source.input_hover_Input-box_Input-text
    
  &:focus-within
    input
      @include source.input_active_Input-box
      @include source.input_active_Input-box_Input-text

    label 
      @include source.input_active_Label
